@{
    ViewData["Title"] = "Home Page";
}
<h1>Student Info</h1>
<p>
    Martin Tristan M. Reyes<br>
    Bachelor of Science in Information Technology<br>
    Third Year, Second Semester, Section - E1<br>
</p>
<blockquote class="p-5">
    <p>"Quote WIP"</p>
    <footer class="blockquote-footer">probably me, 2024</footer>
</blockquote>
<h2>Cool gif I made</h2>
<img src="Content/Images/Profile_2a.gif" class="img-thumbnail w-50"/>